
.right, .left{
    float: left;
}
.right label, .left label{
    width:100%;
}
.left{
    margin-right: 30px;
}

.task-data{
    width: 100%;
    height: 30px;
}
.task-modal{

    width: 230px;
}
.task-title-buttons{
    display: flex;
    justify-content: space-between;
}