
.right, .left{
    float: left;
}
.right label, .left label{
    width:100%;
}
.left{
    margin-right: 30px;
}

.event-data{
    width: 100%;
    height: 30px;
}

.event-title-buttons{
    display: flex;
    justify-content: space-between;
}