.topNavigationBarLook ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topNavigationBar li {
    float: left;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.topNavigationBar li a,
.dropbtn {
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topNavigationBar .search-container {
    float: right;
}

.topNavigationBar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topNavigationBar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}

.SystemContentView .systems-content-view button {
    padding: 6px 10px;
    margin-bottom: 8px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}

.SystemContentView .system-overview-buttons button {

    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}

.topNavigationBar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topNavigationBar .search-container button:hover {
    background: #ccc;
}

/*-------------------------------------------- */
main{
    margin-top: 30px;
}
#task-overview{
    width: 60vw;
    margin-left: 50px;
    float: left;
    text-align: center;
}
#task-detailedview{
    float: left;
    width: 30vw;
    display: flex;
    justify-content: center;
}

.task-details input{
    display: block;
    width: 300px;
}
.task-details select{
    display: block;
    width: 300px;
}
.task-details button[class="help"]{
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

/* table{
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 100%;
    empty-cells: show;
} */


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* table, th, tr, td {
    border: 2px solid black;
    
}
.column1{
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;

}
input[type="button"]{
    margin-left: 5px;
} */
.clear{
    clear: both;
}

#subtask-overview{
    width: 60vw;
    margin-left: 50px;
    float: left;
    text-align: center;
}
#subtask-detailedview{
    float: left;
    width: 30vw;
    display: flex;
    justify-content: center;
}

.subtask-details input{
    display: block;
    width: 300px;
}
.subtask-details select{
    display: block;
    width: 300px;
}
.subtask-details button[class="help"]{
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

