*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Do Hyeon', sans-serif;
}
.nav{
    display: flex; 
    margin-top: 20px;
    width: 50vw;

}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;  
    text-shadow: 0 -1px 0 #000;
    padding: 10px;
    display: block;
    text-align: center;

}

li a:hover{
    color:white;
    background-color:black;
}

li+ul{
    position: absolute;
}
.submenu>ul{
    display: none;
}
.submenu:hover>ul{
    display: block;

}




