.topNavigationBarLook ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topNavigationBar li {
    float: left;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000;
}

.topNavigationBar li a,
.dropbtn {
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topNavigationBar .search-container {
    float: right;
    margin-right: 6px;
}

.topNavigationBar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topNavigationBar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}

.SystemContentView .systems-content-view button {
    padding: 6px 10px;
    margin-bottom: 8px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}

.SystemContentView .system-overview-buttons button {

    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}

.topNavigationBar .search-container button:hover {
    background: #ccc;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.treeview ul,
#myUL {
    list-style-type: none;
    background-color: white;
}

#myUL {
    margin: 0;
    padding: 0;
    background-color: white;
}

.treeview .caret {
    cursor: pointer;
    user-select: none;
}

.treeview .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.treeview .caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}


.active {
    display: block;
}


div.relative {
    position: relative;
    float: right;
}

.upDown {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.test {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;

}

.reportButtons {

    display: flex;
    position: center;
    text-align: left;
    font-size: 40px;
    margin-left: 20px;
}

.helpIcon {
    align-content: flex-end;
    width: 20px;
    height: 20px;

}

.helpIconSmall {
    align-content: flex-end;
    width: 15px;
    height: 15px;

}